
body {
    margin: 10px 20px 0 50px;
    font-family: Arial;
}

.container{
display: flex;
flex-direction: row;

}

button{
    padding: 5px 35px;
    margin: 18px 0px;
    letter-spacing: 2px;
    color: black;
    font-size: larger;
  
}

.arrow{
    margin: 12px 2px 5px 2px;
    
    padding: 0px 10px 10px 10px;
    color: red;
}

.arrow::before{
    content: '';
    width: 43px;
    height: 2px;
    display:inline-block;
    background: red;
    margin: 18px -5px 9px 10px;
    padding: 0px 9px 1px 10px;
}